extends layout 
block layout-content 

        .container 
            a(href="/joke") Joke 
            a(href="/insult") Insult 
            a(href="/qoute") Quote 
            a(href="/news") News 